/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #E8E8E6;
	font-family: verdana, arial, serif;
}

/* ==========================================================================
   header
   ========================================================================== */
h1, h2, h3{
    font-family: candara;
}
   
#header-container{
    background: #fff;
	border-top: 4px solid #C2C6D1;
	border-bottom: 4px solid #EB646A;
    margin: 0;
}
#header-container #header{
    width: 1000px;
	margin: auto;
}
#header-container .hgroup{
    position: relative;
    padding: 1em;
	float: left;
}
#header-container .hgroup h1{
    color: #32B7C5;
	font-size: 2.5em;
    margin: 0.2em;
	font-family: candara;
}
#header-container .hgroup h1 span{
    color: #353435;
}
#header-container .hgroup h5{
    position: absolute;
	top: 0.4em;
	left: 11em;
    color: #32B7C5;
	font-family: candara;
}

#divRecherche{
    width: 1000px;
    margin: auto;
}
.headerRight{
    float: right;
}
.headerRight .acces{
    background: #C2C6D1;
	border: 0;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	color: #fff;
	padding: 0.7em 2em 0.7em 2em;
	font-style: oblique;
	margin: 0 0 1em 0;
}.headerRight .acces:hover{
    color: #353435;
}
.social{
    margin: 0 0 0 8em;
}
.social a, a:visited{
    text-decoration: none;
	color: #999;
}
.facebook:hover{
    color: #3B5998;
}
.twitter:hover{
    color: #00C5F9;
}
.linkedin:hover{
    color: #3399D4;
}

#main-container{

}
.firstContent{
    margin: -4px 0;
	border-top: 1px solid #C2C6D1;
    padding-top: 2px;
    height: 348px;
	background: #E8E8E6 url(../img/carFond.png) no-repeat center top;
    border-bottom: 8px solid #EB646A;
}
.topContent, .bottomContent{
    width: 1000px;
	margin: auto;
    position: relative;
}
.topContent .hgroup{
	max-width: 280px;
}
.topContent h3{
    line-height: 25px;
    color: #32B7C5;
	font-family: candara;
}
.mois{
}
.message{
    color: #EB646A;
}
.message span{
    font-size: 2em;
}

.rechercheRapide{
    float: right;
	max-width: 260px;
}
.rechercheRapide h2{
    font-family: candara;
    color: #808B9D;
    margin: 0;	
}
.rechercheRapide h5{
    margin: 0.2em 0.2em 1.5em 0.2em;	
}
.rechercheRapide input{
    display: block;
	margin: 0 0 0.7em 0;
	float: left;
	padding: 6px;
	color: #999;
	font-weight: 700;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 250px;
	height: 20px;
	border: 1px solid #ccc;
}
.rechercheRapide button{
    float: right;
	border: 0;
	background-color: #EB646A;
	border-radius: 11px;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	font-size: 18px;
	padding: 0.3em 1.5em 0.3em 1.5em;
	margin: 0;
	color: #fff;
	font-weight: 700;
	border: 2px solid #fff;
}
.rechercheRapide button:hover{
	background-color: #DB646A;
}
.circle{
    background-color: #fff;
	width: 100px;
	height: 100px;
	padding: 20px 20px 20px 20px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	z-index: 99;
	text-align: center;
	position: absolute;
	top: 70px;
	color: #32B7C5;
	left: 4em;
}
.circle h3{
    margin: 0 0 15px 0;	
	font-family: candara;
	font-size: 20px;
}
.circle .arrowBottom{
    border-right: 30px solid transparent;
	border-top: 10px solid #32B7C5;
	border-left: 30px solid transparent;
	width: 0;
	cursor: pointer;
	height: 0;
}
.ongles{
    top: 132px;
    right: 0;
	position: absolute;
}
.guide{
    padding: 5px;
    text-align: center;
	width: 150px;
	height: 67px;
	border: 0;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	background: #EB646A; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#F68B90, #EB646A);
	background: -o-linear-gradient(#F68B90, #EB646A);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F68B90), to(#EB646A)); /* older webkit syntax */
	background: -webkit-linear-gradient(#F68B90, #EB646A);
    color: #fff;
}
.guide span{
    font-weight: 700;
}
.autocariste{
    padding: 5px;
    text-align: center;
	width: 150px;
	height: 67px;
	border: 0;
	border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	background: #5DD0DC; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#5DD0DC, #32B7C5);
	background: -o-linear-gradient(#5DD0DC, #32B7C5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5DD0DC), to(#32B7C5)); /* older webkit syntax */
	background: -webkit-linear-gradient(#5DD0DC, #32B7C5);
	color: #fff;
}
.autocariste span{
    font-weight: 700;
}

.secondContent{
    width: 100%;
	background: #fff;
	border-bottom: 1px solid #C2C6D1;
}
.logos{
    width: 1000px;
	margin: auto;
	height: 80px;
	padding: 1em;
}
.masterchef{
    background: url(../img/masterChef.png);
	width: 90px;
	height: 80px;
	border: none;
}
.masterchef:hover{
    background: url(../img/masterChefColor.png);
}
.creditA{
    background: url(../img/CreditAgricole.png);
	width: 205px;
	height: 80px;
	border: none;
	margin: 0 4em 0 4em;
}
.creditA:hover{
    background: url(../img/CreditAgricoleColor.png);
}

.thirdContent{
    width: 1000px;
	margin: auto;
	padding: 1em;
}
.carte{
	max-width: 600px;
    background: #fff;
	border: 1px solid #C2C6D1;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.carte2{
	padding: 0 0 0.1em 3em;
	margin: 1em 0;
}
.carte h3{
	border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	padding: 0.3em 0 0.3em 2em;
    margin: 0;
    color: #fff;
	background: #EB646A;
	font-family: candara;
}

.demandes{
    font-size: 13px;
    float: right;
	max-width: 300px;
}
.demandes2{
    font-size: 13px;
	max-width: 300px;
}
.demandes a, .demandes2 a{
    color: #32B7C5;
	text-decoration: none;
}
.demandes ul, .demandes2 ul{
    padding: 0;
	margin: 0;
} 
.demandes li, .demandes2 li{
    list-style-type: none; 
    background-image: url(../img/puce.png);
    background-repeat: no-repeat; 
    background-position: left top; 
    padding-left: 20px;
} 

.demandes h3, .demandes2 h3{
    color: #808B9D;
	font-size: 20px;
	font-style: oblique;
	font-family: candara;
} 

.publicite{
    margin: 1em 0;
    position: relative;
}
.publicite h3{
	font-style: normal;
    position: absolute;
	color: #fff;
	background: rgba(95, 202, 215, 0.9);
	padding: 0.3em 2em 0.3em 1em;
	font-size: 20px;
	width: 60%;
	font-family: candara;
}

.tete{
    padding: 1px 20px 1px 20px;
	background: #fff;
	width: 960px;
	margin: 15px auto;
}
.tete h2{
    padding: 10px 0 10px 20px;
	background: #32B7C5;
	width: 70%;
	color: #fff;
	font-weight: 500;
}
.tete h2 span{
	font-weight: 700;
}
.contentTab{
    width: 1000px;
	margin: auto;
}
.tab{
    width: 100%;
	position: relative;
}
.tabs{
    width: 735px;
	margin:0 0 20px 265px;
	font-size: 12px;
}
.devis{
    width: 705px;
    background:#D55D63;
	padding: 1px 15px 10px 15px;
	margin:0 0 20px 265px;
}
.devis p{
	font-size: 12px;
	color: #fff;
}
.devis h3{
    color: #fff;
	text-align: center;
}
.devis fieldset input{
	margin: 0 25px 20px 0;
	width: 190px;
	font-size: 13px;
	font-weight: 700;
	color: #999;
	padding: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 1px solid #CCCCCC;
}
.devis fieldset textarea{
	font-size: 13px;
	font-weight: 700;
	color: #999;
	padding: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border: 1px solid #CCCCCC;
}
.devis fieldset button{
	font-size: 18px;
	background: #32B7C5;
	font-weight: 700;
	color: #FFF;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 2px solid #FFF;
	font-style: oblique;
	margin: 75px 0 0 120px;
}
.devis fieldset button:hover{
	background: #21a7C5;
}

.tab1, .tab2, .tab3, .tab4, .tab5, .tab6, .tab7, .tab8{
    background: #fff;
	padding: 0 15px 0 15px;
	border: 1px solid #32B7C5;
	display: none;
}
.tab1{
	display: block;
}
.onglets{
    position: absolute;
	left: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
}
.onglet1,.onglet2,.onglet3,.onglet4,.onglet5,.onglet6,.onglet7,.onglet8{
    color: #ffffff;
	font-weight: bold;
	padding: 10px;
	width: 240px;
	margin-bottom: 5px; 
	cursor: pointer;
	background: #32B7C5;

}
.actif{
	width: 245px;
    color: #000;
	background: #fff;
	border-top: 1px solid #32B7C5;
	border-bottom: 1px solid #32B7C5;
	border-left: 1px solid #32B7C5;
}

.imageFlottante{
    float: left;
	margin-right: 10px; 
}

.asideLeft{
    float: left;
	max-width: 300px;
}
.premierElt{
    background: #D55D63;
    padding: 10px 15px 5px 15px;
	width: 270px;
	color: #fff;
}
.deuxiemeElt{
    background: #FFF;
    padding: 10px 15px 25px 15px;
	margin: 10px 0;
	border-top: 5px solid #D55D63;
}



.troisiemeElt{
    background: #FFF;
    padding: 1px 15px 5px 15px;
	margin: 20px 0;
	color: #32B7C5;
}
.troisiemeElt h2{
    margin: 0;
	color: #32B7C5;
}
.troisiemeElt p{
    margin: 0;
}
.troisiemeElt a{
    margin: 0;
	text-decoration: none;
	color: #E16369;
}
.carteAside{
}
.asideLeft input{
	width: 250px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	font-size: 13px;
	font-weight: 700;
	color: #999;
	padding: 6px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.asideLeft button{
	font-size: 18px;
	background: #32B7C5;
	font-weight: 700;
	color: #FFF;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 2px solid #FFF;
	font-style: oblique;
	margin: 0 0 0 150px;
}
.asideLeft button:hover{
	background: #21a7C5;
}

.secondPub{
    background: #fff;
	margin: -10px 0;
	border-bottom: 5px solid #D55D63;
    padding-bottom: 10px; 
}
.demandes2 h3, .carteAside h3{
    color: #333;
}

.corpsRecherche{
    width: 694px;
	float: right;
	top: 0;
	padding: 0;
}

.numerotation, .cocher, .connexAllier, .connexAllier2{
    background: #fff;
	padding: 1px 10px 1px 10px;
	margin: 0 0 5px 0;
	font-size: 13px;
	min-height: 20px;
	overflow: hidden;
}
.connexAllier2{
	padding: 10px;
}
.connexAllier{
	padding: 1px 10px 10px 10px;
}
.connexAllier img{
	padding: 0.3em 0.3em 0.3em 0.4em;
	border: 1px solid #ddd;
    -moz-box-shadow: 0px 1px 2px #999; 
    -webkit-box-shadow: 0px 1px 2px #999; 
    box-shadow: 0px 1px 2px #999; 
}
.connexAllier button{
    float: right;
	background: #FFC979; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#FFC979, #FFBB57);
	background: -o-linear-gradient(#FFC979, #FFBB57);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFC979), to(#FFBB57)); /* older webkit syntax */
	background: -webkit-linear-gradient(#FFC979, #FFBB57);
    color: #fff;
    padding: 5px 15px 5px 15px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-weight: bold;
	font-size: 16px;
	border: 2px solid #FFBA55;
    box-shadow: 
        0 0 2px 1px rgba(0,0,0,.1), 
        0 2px 1px rgba(0,0,0,.2);
    text-shadow: 0 1px rgba(5,5,5,0.2);

}
	.connexAllier button:hover, .connexAllier button:focus{
        box-shadow:
            0 1px 1px rgba(0,0,0,0.3),
            0 0 3px 1px rgba(0,0,0,0.2),
            0 0 3px 1px rgba(0,0,0,.1), 
            0 2px 1px rgba(0,0,0,.2);		}
    .connexAllier button:active{
        box-shadow: 
            inset 0 -2px 1px rgba(255,255,255,0.2),
            inset 0 3px 2px rgba(0,0,0,0.12);
		}	

.numeros{
    float: right;
	line-height: 3.3em;
}
.numeros a,.connexAllier a, .connexAllier2 a{
    text-decoration: none;
	color: #32B7C5;
    padding: 5px;
}
a.actuel, .numeros a:hover {
	background: #32B7C5;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #fff;
}

.connexAllier a{
    text-decoration: underline;
}
.connexAllier h2,.connexAllier2 h2{
    margin: 0;
}
.connexAllier h2,.connexAllier2 h2{
    margin: 0 0 5px 0;
}
.connexAllier2 p{
    margin: 0;
}
.checkbox{
    float: right;
}
#corps{
    width: 1000px;
	min-height: 100px;
	overflow: hidden;
	background: #fff;
	margin: auto;
	padding-bottom: 20px;
	margin-bottom: 10px;
}
#corps p{
    padding: 10px;
	font-size: 13px;
}
#corps form{
    width: 350px;
	margin: auto;
	padding: 10px;
}
.tabs form{
    width: 550px;
	margin: auto;
	padding: 10px;
}
.tabs form label{
      float: left;
    font-weight: bold;
    line-height: 40px;
    text-align: right;
    width: 200px;
	margin-right : 10px;
}
.tabs form input{
    float: left;
    width: 200px
}
.tabs .field-form{
    height: 40px;
}
#corps input,.tabs form input{
    width: 300px;
    box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 1px 1px 2px 1px rgba(0,0,0,.2);
    display: block;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    padding: 5px;
	margin: 5px 0 20px 0;
	border: 1px solid #999999;
}
#corps label{
    font-weight: bold;
	color: #333;
}
#corps button{
    font-weight: bold;
	color: #fff;
	background: #32B7C5;
	padding: 5px 15px 5px 15px;
	border: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    font-size: 16px;
	float: right;
	margin: 5px 40px 0 0;
}
#corps button:hover{
	background: #21a6b4;
}



#footer-container{
    border-top: 1px solid #C2C6D1;
    border-bottom: 1px solid #C2C6D1;
	height: 100px;
	background: #fff;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
